body {
    padding: 0px;
    margin: 0px;
}

#battlefield-background {
    display: flex;
    border: solid red;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url("../images/background_death.png");
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 200vh;
}

#board {
    display: flex;
    flex-direction: column;
    border: solid blue;

}

.line {
    display: flex;
    line-height: 7vh;
    /* border: 1px solid yellow; */
    margin: 2px;
}

.square {
    display: block;
    /* border: solid red; */
    width: 6vh;
    height: 6vh;
}

.hascharacter {
    background: red;
}

.move {
    background: blue;
    border-radius: 5px;
}


#player-one{
    position: absolute;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, red, yellow);
    border-radius: 7px;
    height: 40vh;
    width: 40vh;
    margin-left: -72vh;
    margin-top: -40vh;
}

#player-two{
    position: absolute;
    border: solid black;
    border-radius: 7px;
    height: 40vh;
    width: 40vh;
    margin-left: 72vh;
    margin-top: -40vh;
}