*{
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../fft.ttf);
    font-family: fft;
}

.intro {
    position: absolute;
}

.home {
    border: 3px solid yellow;
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
}

.home > button {
    margin-left: 400px;
}

body {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: fft;
    font-size: 50px;
    position: relative;
}

#battlefield-background {
    display: flex;
    border: solid red;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url("../images/background_death.png");
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 200vh;
}

#board {
    display: flex;
    flex-direction: column;
    border: solid blue;
}

.line {
    display: flex;
    line-height: 7vh;
    /* border: 1px solid yellow; */
    margin: 2px;
}

.square {
    display: block;
    /* border: solid red; */
    width: 6vh;
    height: 6vh;
}


.move {
    background: rgba(0, 0, 255, 0.6);
    border-radius: 5px;
}

.attack {
    background: rgba(255, 0, 0, 0.6);
    border-radius: 5px;
}

.move:hover {
    background: rgba(47, 209, 96, 0.6);
}


#player-one{
    position: absolute;
    display: flex;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, black, gray);
    border-radius: 7px;
    height: 40vh;
    width: 40vh;
    margin-left: -72vh;
    margin-top: -40vh;
    justify-content: space-between;
}

.status {
    /* border: solid blue; */
    display: flex;
    justify-content: space-around;
    height: 30vh;
    padding: left 3vh;
    width:  39vh;
    margin-top: 10vh;   
}

.status #status-child-left {
    /* border: solid yellow; */
    padding-top: 2vh;
}

#player-two{
    position: absolute;
    border: solid black;
    border-radius: 7px;
    height: 40vh;
    width: 40vh;
    margin-left: 72vh;
    margin-top: -40vh;
}

.option-move {
    cursor: pointer;
    visibility: hidden;
    font-size: 7.5vh;
    display: flex;
    position: relative; top: -4vh; right: -3vh ;;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-size: cover;
    height: 3vh;
    width: 7vh;
    border-radius: 10px;
}

.option-move > p {
    padding-bottom: 2.5vh;
    padding-left: 0.5vh;
}

.option-attack {
    cursor: pointer;
    visibility: hidden;
    font-size: 7.5vh;
    display: flex;
    position: relative; top: -3vh; right: -7vh ;;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-size: cover;
    height: 3vh;
    width: 8.5vh;
    border-radius: 10px;
}

.option-attack > p {
    padding-bottom: 2.5vh;
    padding-left: 0.5vh;
}


 /* <div class="damage-points">
        <p>22</p>
    </div> */

.damage-points {
    cursor: pointer;
    visibility: hidden;
    font-size: 7.5vh;
    display: flex;
    position: relative; top: -1vh; right: 3vh ;;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: red;
    background-size: cover;
    height: 3vh;
    width: 4vh;
    border-radius: 10px;
}

.damage-points > p {
    padding-bottom: 2.5vh;
    padding-left: 0.5vh;
}

.image-character {
    width: 100%;
    position: relative; 
    top: -7.2vh;
}

.disable {
    pointer-events: none;
}